@page "/"
@using Web.Models

<style>
    .paper-items div div{
        width: 200px;
        height: 100px;
        float: left;
        margin: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: monospace;
    }
    
</style>

<div class="paper-items">
    @foreach (var block in _blockModels)
    {
        <div>
        <h2>@block.Title</h2>
        @foreach (var link in block.Links)
        {
            <MatPaper Elevation="5">
                <h3>@link.Title</h3>
                <p>@link.Description</p>
                <p>@link.Description</p>
            </MatPaper>
        }
        </div>
    }
</div>


@code
{
    private int _currentItem = 0;

    private IList<BlockModel> _blockModels = new List<BlockModel>()
    {
        new BlockModel()
        {
        }
    };
}
