@page "/"
@using Web.Models

<style>
    .board{
        display: table;
    }

    .board div div{
        width: 200px;
        height: 100px;
        float: left;
        margin: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: monospace;
    }
    
    .block {
        display: table-row;;
    }
    
</style>

<div class="board">
    @foreach (var block in _blockModels)
    {
        <div class="block">
        <h2>@block.Title</h2>
        @foreach (var link in block.Links)
        {
            <MatPaper Elevation="5">
                <h3>@link.Title</h3>
                <p>@link.Description</p>
                <p>@link.Description</p>
            </MatPaper>
        }
        </div>
    }
</div>


@code
{
    private int _currentItem = 0;

    private IList<BlockModel> _blockModels = new List<BlockModel>()
    {
        new BlockModel()
        {
            Links = new List<LinkModel>()
            {
                new LinkModel()
                {
                    Description = "Some desc1",
                    Link = "https://test.test",
                    Title = "Title of link 1"
                },
                
                new LinkModel()
                {
                    Description = "Some desc2",
                    Link = "https://test.test",
                    Title = "Title of link 2"
                },
                new LinkModel()
                {
                    Description = "Some desc3",
                    Link = "https://test.test",
                    Title = "Title of link 3"
                },
                
                new LinkModel()
                {
                    Description = "Some desc4",
                    Link = "https://test.test",
                    Title = "Title of link 4"
                },
                
                new LinkModel()
                {
                    Description = "Some desc5",
                    Link = "https://test.test",
                    Title = "Title of link 5"
                },
                new LinkModel()
                {
                    Description = "Some desc6",
                    Link = "https://test.test",
                    Title = "Title of link 6"
                },
                
                new LinkModel()
                {
                    Description = "Some desc7",
                    Link = "https://test.test",
                    Title = "Title of link 7"
                },
                
                new LinkModel()
                {
                    Description = "Some desc7",
                    Link = "https://test.test",
                    Title = "Title of link 7"
                }
            },
            Title = "Test title 1"
        },
        new BlockModel()
        {
            Links = new List<LinkModel>()
            {
                new LinkModel()
                {
                    Description = "Some desc1",
                    Link = "https://test.test",
                    Title = "Title of link 1"
                },
                
                new LinkModel()
                {
                    Description = "Some desc2",
                    Link = "https://test.test",
                    Title = "Title of link 2"
                },
                new LinkModel()
                {
                    Description = "Some desc3",
                    Link = "https://test.test",
                    Title = "Title of link 3"
                },
                
                new LinkModel()
                {
                    Description = "Some desc4",
                    Link = "https://test.test",
                    Title = "Title of link 4"
                },
                
                new LinkModel()
                {
                    Description = "Some desc5",
                    Link = "https://test.test",
                    Title = "Title of link 5"
                }
            },
            Title = "Test title 2"
        }
    };
}
