@inherits LayoutComponentBase

<style>
    .body-wrapper{
        margin: 50px auto;
        max-width: 1200px;
    }
</style>

<MatThemeProvider Theme="_defaultTheme">
    <MatAppBarContainer>
        <MatAppBar Style="z-index: 100">
            <MatAppBarRow>
                <MatAppBarSection>
                    <MatIconButton Icon="menu" ToggledChanged="ChangeMenuButton"></MatIconButton>
                    <MatAppBarTitle>Project portal</MatAppBarTitle>
                </MatAppBarSection>
            </MatAppBarRow>
        </MatAppBar>
        <MatDrawerContent Style="padding-top: 64px;">
            <MatDrawer @bind-Opened="@_isVisibleMenu">
                <MatDrawerContent>
                    <MatNavMenu>
                        <MatNavItem NavLinkMatch="NavLinkMatch.All" Href="" Title="Home">
                            <MatIcon Icon="@MatIconNames.Home"></MatIcon> Home
                        </MatNavItem>
                        <MatNavItem NavLinkMatch="NavLinkMatch.All">
                            <MatIcon Icon="@MatIconNames.Info"></MatIcon> About
                        </MatNavItem>
                    </MatNavMenu>
                </MatDrawerContent>
            </MatDrawer>
            <MatDrawerContent>
                <div class="body-wrapper">
                    @Body
                </div>
            </MatDrawerContent>
        </MatDrawerContent>
    </MatAppBarContainer>
</MatThemeProvider>


@code
{
    private bool _isVisibleMenu;

    private void ChangeMenuButton(bool isActive) => _isVisibleMenu = isActive;
    
    private MatTheme _defaultTheme = new MatTheme();
}
